<div class="container mt-4 pt-4">
  <h1 class="text-center mt-4 font-weight-bold">Generador de cupones</h1>

  <div class="p-5">

    <form [formGroup]="configForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Cantidad de cupones</label>
        <input type="number" class="form-control" formControlName="cantidad">
        <p class="text-danger" *ngIf="configForm.get('cantidad').hasError('required') && configForm.get('cantidad').touched">*Éste campo es
          requerido</p>
        <p class="text-danger" *ngIf="configForm.get('cantidad').hasError('min') && configForm.get('cantidad').touched">*Debes introducir un número positivo</p>
        <p class="text-danger" *ngIf="configForm.get('cantidad').hasError('max') && configForm.get('cantidad').touched">*Debes introducir un número menor a 200</p>
      </div>
      <div class="form-group">
        <label>Tipo de algoritmo</label>
        <select class="form-control" formControlName="algoritmo">
          <option value="num secuencial">Numeros secuenciales</option>
          <option value="num random">Numeros aleatoreos</option>
          <option value="alfa secuencial">Numeros alfanuméricos secuenciales</option>
          <option value="alfa random">Numeros alfanuméricos aleatoreos</option>
        </select>
        <p class="text-danger" *ngIf="configForm.get('algoritmo').hasError('required') && configForm.get('algoritmo').touched">*Éste campo es
          requerido</p>

      </div>
      <div class="form-group">
        <label>Cantidad de dígitos en el cupon</label>
        <input type="number" class="form-control" formControlName="longitud">
        <p class="text-danger" *ngIf="configForm.get('longitud').hasError('required') && configForm.get('longitud').touched">*Éste campo es
          requerido</p>
        <p class="text-danger" *ngIf="configForm.get('longitud').hasError('min') && configForm.get('longitud').touched">*Debes introducir un número positivo</p>
        <p class="text-danger" *ngIf="configForm.get('longitud').hasError('max') && configForm.get('longitud').touched">*Debes introducir un número menor a 9</p>
      </div>
      <input [disabled]="!configForm.valid" class="btn btn-block btn-success" type="submit" value="Generar cupones">
    </form>
    <button [disabled]="!cuponList" (click)="deleteCupons()" class=" mt-3 btn btn-warning btn-block">Borrar cupones</button>
  </div>


  <div class="p-5">
    <h3 class="text-center">Cupones generados</h3>
    <table class="table table-striped">
      <thead>
        <tr class="row">
          <th class="col-2 text-center" scope="col">#</th>
          <th class="col-10" scope="col">Código de cupón</th>
        </tr>
      </thead>
      <tbody>
        <tr class="row" *ngFor="let cupon of cuponList; let i = index">
          <td class="col-2 text-center">{{i + 1}}</td>
          <td class="col-2">{{cupon |uppercase}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>